body {
  margin: 0;
}

.topBar {
  width: 100%;
  height: 50px;
  background-color: aliceblue;
}

.displayDropdownParentDiv {
  position: relative;
}

.displayDropdown {
  position: absolute;
  bottom: -100px;
}